<header>
    <h1> Upload Experimental Data </h1>
    <h4> Upload your experimental data and select driving inputs and model outputs.</h4>
</header>
<div class="title">
    <h4>Upload CSV data:</h4></div>
<form name="selectFileForm" class="form-inline">
    <div class="form-group">
        <label for="fileSelect1"> Select CSV: </label>
        <input type="file" file-reader="fileContent" parse-result="parseResult" id="fileSelect1" />
    </div>
</form>

<hr>
<div class="row">
    <div class="content">
        <h4>Inputs:</h4>
        <div class="form-group">
            <ul>
                <li ng-repeat="input in fileContent.header">
                    <input type="checkbox" name="group-check" value="{{input}}" ng-model="data.inputHeader[input]" ng-click="updateLength()" ng-checked="data.inputHeader[input]"> {{input}}
                </li>
            </ul>
            <button ng-click="setInputs()" class="btn btn-primary">Submit Inputs</button>
            <div ng-model="inputSaved">
                <h4>{{inputSaved}}</h4>
            </div>
        </div>
    </div>
    <br>
    <div ng-if="inputsLength != 0">
        {{data.inputHeader}} {{data.inputs}}
        <line-graph data="data.inputs"></line-graph>
    </div>
</div>
<hr>
<div class="content">
    <h4>Outputs:</h4>
    <div class="form-group">
        <ul>
            <li ng-repeat="output in fileContent.header">
                <input type="checkbox" name="group-check" value="{{output}}" ng-model="data.outputHeader[output]" ng-click="updateLength()" ng-checked="data.outputHeader[output]"> {{output}}
            </li>
        </ul>
        <button ng-click="setOutputs()" class="btn btn-primary">Set Outputs </button>
        <div ng-if="outputSaved">
            <h4>Output Saved! </h4>
        </div>
    </div>
    <br>
    <div ng-if="outputsLength != 0">
        {{data.outputHeader}} {{data.outputs}}
    </div>
</div>
<hr> {{parseResult}}

<footer>
    <div class="row">
        <div class="col-md-6">
            <ul class="pager">
                <li><a href="#!demand-creation" ng-click="saveState()"> Next </a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
