<header>
    <h1> Upload Experimental Data </h1>
    <h4> Upload your experimental data and select driving inputs and model outputs.</h4>
</header>
<div class="title">
    <h4>Upload CSV data:</h4></div>
<form name="selectFileForm" class="form-inline">
    <div class="form-group">
        <label for="fileSelect1"> Select CSV: </label>
        <input type="file" file-reader="fileContent" parse-result="parseResult" id="fileSelect1" />
    </div>
</form>

<hr>
<div class="row">
    <div class="content col-xs-8">
        <h4>Inputs:</h4>
        <div class="form-group">
            <ul>
                <li ng-repeat="input in fileContent.header">
                    <input type="checkbox" name="group-check" value="{{input}}" ng-model="data.inputHeader[input]" ng-click="updateLength()" ng-checked="data.inputHeader[input]"> {{input}}
                </li>
            </ul>
            <button type="button" ng-click="setInputs()" class="btn btn-primary">Set Inputs</button>
            <div ng-model="inputSaved">
                <h4>{{inputSaved}}</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-if="inputsLength != 0" class="col-xs-8">
        <h4> Preview Data </h4>
        <form name="">
            <label for="xSelect"> x-axis: </label>
            <select name="xSelect" id="inXSelect" ng-model="inplotx">
            <option ng-repeat="key in data.inputKeys" value="{{key}}">{{key}}</option>
    </select>
            <label for="ySelect"> y-axis: </label>
            <select name="ySelect" id="inYSelect" ng-model="inploty">
            <option ng-repeat="key in data.inputKeys" value="{{key}}">{{key}}</option>
    </select>
        </form>
        <br>
        <line-graph data="{{data.inputs}}" select-x="{{inplotx}}" select-y="{{inploty}}"></line-graph>
    </div>
</div>
<hr>
<div class="row">
    <div class="content col-xs-8">
        <h4>Outputs:</h4>
        <div class="form-group">
            <ul>
                <li ng-repeat="output in fileContent.header">
                    <input type="checkbox" name="group-check" value="{{output}}" ng-model="data.outputHeader[output]" ng-click="updateLength()" ng-checked="data.outputHeader[output]"> {{output}}
                </li>
            </ul>
            <button type="button" ng-click="setOutputs()" class="btn btn-primary">Set Outputs </button>
            <div ng-model="outputSaved">
                <h4>{{outputSaved}}</h4>
            </div>
        </div>
        <br>
    </div>
</div>
<br>
<div class="row">
    <div ng-if="outputsLength != 0" class="col-xs-8">
        <h4> Preview Data </h4>
        <form name="">
            <label for="xSelect"> x-axis: </label>
            <select name="xSelect" id="outXSelect" ng-model="outplotx">
            <option ng-repeat="key in data.outputKeys" value="{{key}}">{{key}}</option>
    </select>
            <label for="ySelect"> y-axis: </label>
            <select name="ySelect" id="outYSelect" ng-model="outploty">
            <option ng-repeat="key in data.outputKeys" value="{{key}}">{{key}}</option>
    </select>
        </form>
        <br>
        <line-graph data="{{data.outputs}}" select-x="{{outplotx}}" select-y="{{outploty}}"></line-graph>
    </div>
</div>
<footer class="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="pager">
                <li><a href="#!choose-model" ng-click="saveState()"> Previous </a></li>
                <li><a href="#!time-creation" ng-click="saveState()"> Next </a></li>
            </ul>
        </div>
    </div>
</footer>
