
<header>
  <h2> Demand Creation </h2>
  <h4> If you haven't specified a demand function already, and one is needed, you can use the creator below to create specific demand staps at specified time points.
</header>

{{data.inputs}}
{{data.outputs}}

    <footer>
        <div class="row">
            <div class="col-md-6">
                <ul class="pager">
                  <li><a href="#!csv-upload"  ng-click="saveState()"> Previous </a></li>
                    <li><a href="#!model-check"  ng-click="saveState()"> Next </a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
