<header>
    <h2> Model Summary </h2>
    <h4> Check your model information below before submitting to run.</h4>
    <hr>
    <h2> Model: {{finalChoice.modelName}}</h2>
</header>

<div ng-cloak layout-fill>

    <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom md-no-pagination="true" md-selected="0">
        <md-tab label="default">
            <md-content class="md-padding">
                <section class="time-section row">
                    <h2> Time </h2>
                    <h4> Select time data </h4>
                    <form>
                        <div class="form-group">
                            <label for="timeSelect">Time: </label>
                            <select name="timeSelect" id="timeSelect" ng-model="finalChoice.times">
                <option ng-repeat="(key,val) in data.inputs" ng-value="val" required>{{key}}</option>
            </select>
                        </div>
                    </form>
                </section>
                <hr>
                <section class="input-section row">
                    <h2> INPUTS </h2>
                    <h4> Select which default model inputs and assign any uploaded/created data.</h4>
                    <div class="col-sm-10">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat=" key in defaults.inputs">
                                    <td class="col-sm-6">{{key}}</td>
                                    <td class="col-sm-6">
                                        <select name="inputSelect" id="inputSelect" ng-model="finalChoice.inputs[key]">
                            <option ng-repeat="(key,val) in data.inputs" ng-value="val" required>{{key}}</option>
                            <option value=""></option>
                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <section>
                    <h2>Run Model </h2>
                    <button ng-click="runModel('default')">Run Model </button>
                    <div class="spinner" ng-show="loading"></div>
                </section>
            </md-content>
        </md-tab>
        <md-tab label="custom">
            <md-content class="md-padding">
                <section class="time-section row">
                    <h2> Time </h2>
                    <h4> Select time data </h4>
                    <form>
                        <div class="form-group">
                            <label for="timeSelect">Time: </label>
                            <select name="timeSelect" id="timeSelect" ng-model="finalChoice.times">
                <option ng-repeat="(key,val) in data.inputs" ng-value="val" required>{{key}}</option>
            </select>
                        </div>
                    </form>
                </section>
                <hr>
                <section class="input-section row">
                    <h2> INPUTS </h2>
                    <h4> Select which default model inputs and assign any uploaded/created data.</h4>
                    <div class="col-sm-10">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat=" key in defaults.inputs">
                                    <td class="col-sm-6">{{key}}</td>
                                    <td class="col-sm-6">
                                        <select name="inputSelect" id="inputSelect" ng-model="finalChoice.inputs[key]">
                            <option ng-repeat="(key,val) in data.inputs" ng-value="val" required>{{key}}</option>
                            <option value=""></option>
                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <hr>
                <section class="parameter-section row">
                    <h2> PARAMETERS </h2>
                    <h4> Any non-default parameters as set on the previous page </h4>
                    <div class="col-sm-10">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key,val) in data.parameters">
                                    <td class="col-sm-7">{{key}}</td>
                                    <td class="col-sm-5">{{val}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <hr>
                <section class="output-section row">
                    <h2> OUTPUTS </h2>
                    <h4>Select output from model. This can be any of the inputs, outputs or non-default parameters. Data can also be passed to compare against if it has been uploaded or created.</h4>
                    <div class="col-sm-10">
                        <h4> Model Outputs </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                    <th>Include</th>
                                    <th>Data</th>
                                    <!--<th>Zero</th> Removed until zero functionality added -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat=" key in defaults.outputs">
                                    <td class="col-sm-4">{{key}}</td>
                                    <td class="col-sm-2">
                                        <input type="checkbox" ng-model="finalChoice.outputs[key].include" ng-init="finalChoice.outputs[key].include=true">
                                    </td>
                                    <td class="col-sm-4">
                                        <select name="outputSelect" id="outputSelect" ng-model="finalChoice.outputs[key].data">
                            <option ng-repeat="(key,val) in data.outputs" ng-value="val" required>{{key}}</option>
                            <option value=""></option>
                        </select>
                                    </td>
                                    <!--
                                    <td class="col-sm-2">
                                        <input type="checkbox" ng-checked="false" ng-model="finalChoice.outputs[key].zero">
                                    </td>
                                    Removed until zero functionality added -->
                                </tr>
                            </tbody>
                        </table>
                        <h4> Model Inputs </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                    <th>Include</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="key in defaults.inputs">
                                    <td class="col-sm-4">{{key}}</td>
                                    <td class="col-sm-8">
                                        <input type="checkbox" ng-checked="true" ng-model="finalChoice.outputs[key].include">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4> Model Parameters </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                    <th>Include</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, val) in defaults.parameters">
                                    <td class="col-sm-4">{{key}}</td>
                                    <td class="col-sm-2">
                                        <input type="checkbox" ng-model="finalChoice.outputs[key].include">
                                    </td>
                                    <td class="col-sm-6">
                                        {{val}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <hr>
                <section class="burn-in-section row">
                    <h2> Burn In </h2>
                    <h4> If you want to run the model for a period of time prior to collecting out put, enter that burn in time here </h4>
                    <div class="col-sm-10">
                        <input type="text" ng-model="finalChoice.burnIn" ng-pattern="/^[0-9]+(\.[0-9]{0,3})?$/">
                    </div>
                </section>
                <section>
                    <h2>Run Model </h2>
                    <button ng-click="runModel('initialised')">Run Model </button>
                    <div class="spinner" ng-show="loading"></div>
                </section>
            </md-content>
        </md-tab>
    </md-tabs>
</div>
<footer>
    <div class="row">
        <div class="col-md-6">
            <ul class="pager">
                <li><a href="#!parameters" ng-click="saveState()"> Previous </a></li>
                <li><a href="#!model-display" ng-click="saveState()" ng-disabled="loading"> Next </a></li>
            </ul>
        </div>
    </div>
</footer>
