<header>
    <h2> Model Summary </h2>
    <h4> Check your model information below before submitting to run.</h4>
</header>

<section class="input-section">
    <h2> INPUTS </h2>
</section>

<section class="output-section">
    <h2> OUTPUTS </h2>
</section>

<footer>
    <div class="row">
        <div class="col-md-6">
            <ul class="pager">
                <li><a href="#!parameters" ng-click="saveState()"> Previous </a></li>
                <li><a href="#!model-check" ng-click="saveState()"> Next </a></li>
            </ul>
        </div>
    </div>
</footer>
