<header>
    <h2> Parameters </h2>
    <h4> See model parameters and change if required. </h4>
</header>

<section class="Select parameter-style">
    <h2> INPUTS </h2>
</section>

<footer>
    <div class="row">
        <div class="col-md-6">
            <ul class="pager">
                <li><a href="#!demand-creation" ng-click="saveState()"> Previous </a></li>
                <li><a href="#!model-check" ng-click="saveState()"> Next </a></li>
            </ul>
        </div>
    </div>
</footer>
