<ng-csv-import class="import" content="csv.content" header="csv.header" header-visible="csv.headerVisible" separator="csv.separator" separator-visible="csv.separatorVisible" result="csv.result" encoding="csv.encoding" upload-button-label="csv.uploadButtonLabel"></ng-csv-import>

<!--
<div class="modelData well" ng-repeat="category in infoCategories">
    <h4>{{category.name}}</h4>
    <div ng-repeat="data in category.data">
        <em class="pull-right">
          {{ data }}
        </em><br>
    </div>
</div>
==>
