body {
    background-color: #f1f8ff;
}

div.block.row{
  width: 100%;
  margin: 10px 0px;
}

div.block.row > div {
  display: inline-block;
  vertical-align: middle;
}

div.block.row > div.title{
  width: 30%;
  color: white;
}

div.import>div>div.label{
  display: inline-block;
  width: 30%;
  text-align: left;
  color: white;
  font-family: 'Verdana';
  font-size: 14px;
}

div.import > div {
  margin: 15px 0px;
}
.page-header {
    text-align: center;
}

.csv-import{
  margin-left: 50px;
}
