{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<!DOCTYPE html>
<h1>Choose a model:</h1>
<div>
    <form method="POST" action="." role="form">
        {{  form.csrf_token  }}
        {{  render_field(form.model_name, placeholder="Choose a model") }}
        <button type="submit">Choose model</button>
    </form>
</div>