<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>WeBCMD - Metabolight</title>
    <!-- <base href="/"> -->
</head>

<body ng-app="weBCMD">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        WeBCMD
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#!display-models">Model Info</a></li>
                    <li><a href="#!run-models">Run Model</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% raw %}
    <div class="container">
        <div ng-view=""></div>
    </div>
    {% endraw %}
    <!-- Define javascript code -->
    <!-- Libraries -->
    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/angular-route/angular-route.js"></script>
    <script src="/static/bower_components/angular-csv-import/dist/angular-csv-import.js"></script>
    <!-- Custom code -->
    <script>
        var available_models = JSON.parse('{{available_models|tojson}}');
    </script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
</body>

</html>
